<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body background="orange.jpg">
        <div class = "Login">
            <center><h1>Traffic Volume Estimation</h1></center>
            <form action="{{url_for('predict')}}" method="post">
            <h1>Please enter the following details</h1>
            <br></br>
        <label for=""holiday>Holiday:</label>
            <select id="holiday" name="holiday"
                <option></option>
                <option value=7>None</option>
                <option value=1>Columbus Day</option>
                <option value=0>Christmas Day</option>
                <option value=2>Independence Day</option>
                <option value=3>Labour Day</option>
                <option value=5>Memorial Day</option>
                <option value=6>New Years Day</option>
                <option value=8>State Fair</option>
                <option value=9>Thanksgiving Day</option>
                <option value=10>Veterans Day</option>
                <option value=11>Washingtons Birthday</option>
                <option value=4>Martin Luther King Jr Day</option>
            </select> &nbsp;&nbsp;<br>
        <br>
        <label>Temperature:</label>
        <input type="number" name="temp" placeholder="temp" required="required"/><br>
        <br>
        <label>Rain:</label>
        <input type="number" min="0" max="1" name="rain" placeholder="rain" required="required"/><br>
        <br>
        <label>Snow:</label>
        <input type="number" min="0" max="1" name="snow" placeholder="snow" required="required"/><br>
        <br>
        <label for="weather">Weather:</label>
            <select id="weather" name="weather"
                <option></option>
                <option value=0>None</option>
                <option value=1>Clouds</option>
                <option value=0>Clear</option>
                <option value=2>Drizzle</option>
                <option value=3>Fog</option>
                <option value=4>Haze</option>
                <option value=6>Rain</option>
                <option value=5>Mist</option>
                <option value=7>Smoke</option>
                <option value=8>Snow</option>
                <option value=9>Squall</option>
                <option value=10>Thunderstorm</option>
        </select> &nbsp;&nbsp;<br>
        <br>
        <label>Year:</label>
        <input type="number" min="2012" max="2022" name="year" placeholder="year" required="required"><br>
        <br>
        <label>Month:</label>
        <input type="number" min="1" max="12" name="month" placeholder="month" required="required"><br>
        <br>
        <label>Day:</label>
        <input type="number" min="1" max="31" name="day" placeholder="day" required="required"><br>
        <br>
        <label>Hour:</label>
        <input type="number" min="0" max="24" name="hours" placeholder="Hour" required="required"><br>
        <br>
        <label>Min:</label>
        <input type="number" min="0" max="60" name="minutes" placeholder="Min" required="required"><br>
        <br>
        <label>Sec:</label>
        <input type="number" min="0" max="60" name="seconds" placeholder="Sec" required="required"<br>
        <br>
        <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large" style="height:30px;width:200px">Predict</button>
    </form>
    <br>
    {{ prediction_text }}
    </body>
</html>